/Binaries/**
/Intermediate/**
/Scripts/Engine-Generated/**
*.suo
*.sdf
*.opensdf
/*.bat
/*.py
/Source/AgogCore/Lib/Win32/**
*-Shipping.*
/SkookumIDE/Skookum-user.ini
/SkookumIDE/*-Dev.*
/SkookumIDE/*-Coder.*
/SkookumIDE/Scripts/workspace?.sk

/*2013*.*
/Source/SkookumScript/Lib/Win32/**
/Source/SkookumScript/*2013*.*
/Source/SkookumScript/Private/**
/Source/SkookumLibs*.*
/SkookumIDE/Source/**
